{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Generator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <h1 id="quote-text">Clique no botão para gerar uma frase</h1>
        <p id="quote-author"></p>
        <button id="new-quote-btn">Nova frase</button>
    </div>

    <div class="container">
        <input type="text" id="new-quote-text" placeholder="Frase">
        <input type="text" id="new-quote-author" placeholder="Autor da frase">
        <select id="new-quote-category" name="category" required>
            <option value="">Selecione uma categoria</option>
            <option value="motivacional">Motivacional</option>
            <option value="humor">Humor</option>
            <option value="reflexiva">Reflexiva</option>
            <option value="triste">Triste</option>
        </select>
        <button id="add-quote-btn">Criar nova frase</button>
    </div>
    <dialog id="quote-success">
        <h2>Frase enviada com sucesso</h2>
        <button id="fechar-popup">close</button>
    </dialog>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>